aniso8601==7.0.0
boto3==1.9.188
botocore==1.12.188
certifi==2019.6.16
chardet==3.0.4
Click==7.0
coreapi==2.3.3
coreapi-cli==1.0.9
coreschema==0.0.4
ddt==1.2.1
defusedxml==0.6.0
Django==2.2.28
django-allauth==0.39.1
django-cors-headers==3.0.2
django-filter==2.1.0
django-rest-auth==0.9.5
django-s3-storage==0.12.4
djangorestframework==3.9.4
docutils==0.14
gitdb==0.6.4
gitdb2==2.0.5
GitPython==2.1.12
graphene==2.1.6
graphene-django==2.3.2
graphql-core==2.2
graphql-relay==0.4.5
httpie==1.0.2
idna==2.8
itypes==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
MarkupSafe==1.1.1
oauthlib==3.0.2
Pillow==6.1.0
pip-upgrade-outdated==1.5
promise==2.2.1
psycopg2==2.7.7
Pygments==2.4.2
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2019.1
PyYAML==5.1.1
requests==2.22.0
requests-oauthlib==1.2.0
Rx==1.6.1
s3transfer==0.2.1
singledispatch==3.4.0.3
six==1.12.0
smmap==0.9.0
smmap2==2.0.5
sqlparse==0.3.0
uritemplate==3.0.0
urllib3==1.25.3
