/*
**************************************************
***************** Authentication *****************
**************************************************
*/

.authentication-page {
  height: 100vh;
}

.authentication-container {
  width: 512px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.authentication .header {
  font-size: 1.5rem;
  font-weight: 300;
  color: #aaaeb8;
  text-align: center;
  margin: 0px;
  padding: 16px 0 8px 0;
}

.authentication .separator {
  display: block;
  margin: 8px auto 8px auto;
  text-align: center;
}

.authentication .buttonsWrapper {
  display: flex;
  justify-content: center;
  margin: 8px auto 8px auto;
}

.facebook-button {
  position: relative;
  border: 0px solid white;
  background: #4267b2;
  border-radius: 5px;
  color: white;
  height: 48px;
  text-align: center;
  width: 300px;
  font-size: 1rem;
  display: block;
  margin: 8px auto 8px auto;
}

.github-button {
  position: relative;
  border: 0px solid white;
  background: #333333;
  border-radius: 5px;
  color: white;
  height: 48px;
  text-align: center;
  width: 300px;
  font-size: 1rem;
  display: block;
  margin: 8px auto 8px auto;
}

#auth-blob-one {
  stroke: #22d163;
  stroke-width: 22px;
  fill: transparent;
  mix-blend-mode: multiply;
}

#auth-blob-two {
  stroke: #ff546c;
  stroke-width: 22px;
  fill: transparent;
  mix-blend-mode: multiply;
}

#auth-blob-three {
  stroke: #3688ff;
  stroke-width: 22px;
  fill: transparent;
  mix-blend-mode: multiply;
}

/*
******************
*** Background ***
******************
*/

.authentication-page .background {
}

.authentication-page .background svg {
  width: 100%;
  height: 100vh;
}
