/*
**************************************************
***************** Authentication *****************
**************************************************
*/

.authentication-page {
  height: 100vh;
  min-height: 640px;
}

.authentication-container {
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 800px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  /*transform: translate(0, -10%);*/
}

.form-card {
  margin: 0 16px 0 16px;
  padding: 4px 28px 20px 28px;
  box-shadow: 0px 1px 3px rgba(56, 71, 94, 0.57);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
}

.authentication {
  width: 100%;
  max-width: 360px;
  /*height: 460px;*/
  position: absolute;
  top: 50%;
  right: 0;
  /*bottom: 0;*/
  left: 0;
  margin: auto;
  transform: translate(0, -50%);
}

.authentication .header {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin: 0px;
  margin-bottom: 12px;
  padding: 16px 0 8px 0;
}

.authentication .separator {
  display: block;
  margin: 8px auto 8px auto;
  text-align: center;
}

.authentication .buttonsWrapper {
  display: flex;
  justify-content: center;
  margin: 8px auto 8px auto;
}

.authentication-footer {
  width: 100%;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.authentication-footer > * {
  margin: 12px;
}

/* Social buttons */

.facebook-button,
.github-button {
  position: relative;
  border: 0px solid white;
  border-radius: 5px;
  text-align: left;
  padding-left: 68px;
  height: 44px;
  color: white;
  width: 100%;
  font-size: 0.875rem;
  display: block;
  margin: 8px auto 16px auto;
  background-size: 24px 24px;
  background-position: 20px center;
  background-repeat: no-repeat;
  transition: background-color 0.2s, color 0.2s, border 0.2s,
    background-image 0.2s;
}

.facebook-button-densed,
.github-button-densed {
  background-position: center center;
  background-size: auto;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid white;
  margin: 0;
}

.facebook-button-densed:hover,
.github-button-densed:hover {
}

@media screen and (max-width: 960px) {
  .facebook-button,
  .github-button {
    height: 40px;
  }
  .facebook-button-densed,
  .github-button-densed {
    width: 36px;
    height: 36px;
    margin: 0;
  }
}

.facebook-button {
  background-image: url('../images/facebook-icon-revert.svg');
  background-color: #1877f2;
  border: 1px solid #1877f2;
}

.facebook-button-densed {
  background-image: url('../images/facebook-icon-revert.svg');
  border: 1px solid #1877f2;
}
.facebook-button-densed:hover {
  background-image: url('../images/facebook-icon.svg');
  border: 1px solid white;
}

.facebook-button:hover {
  color: #1877f2;
  background-color: white;
  background-image: url('../images/facebook-icon.svg');
}

.github-button {
  background-image: url('../images/github-icon-revert.svg');
  background-color: #24292e;
  border: 1px solid #24292e;
}

.github-button-densed {
  background-image: url('../images/github-icon-revert.svg');
  border: 1px solid #181616;
  background-color: #181616;
}
.github-button-densed:hover {
  background-image: url('../images/github-icon.svg');
  background-color: white;
  border: 1px solid white;
}

.github-button:hover {
  background-image: url('../images/github-icon.svg');
  color: #24292e;
  background-color: white;
}

#auth-blob-one {
  stroke: #22d163;
  stroke-width: 22px;
  fill: transparent;
  mix-blend-mode: multiply;
}

#auth-blob-two {
  stroke: #ff546c;
  stroke-width: 22px;
  fill: transparent;
  mix-blend-mode: multiply;
}

#auth-blob-three {
  stroke: #3688ff;
  stroke-width: 22px;
  fill: transparent;
  mix-blend-mode: multiply;
}

/*
******************
*** Background ***
******************
*/

.authentication-page .background {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 800px;
  margin: auto;
  /*outline: 1px solid pink;*/
}

.authentication-page .background svg {
  /*outline: 1px solid pink;*/
  width: 100%;
  height: 100%;
}

/*
********************
*** Forms Styles ***
********************
*/

.authentication-start-form {
  pointer-events: var(--authentication-start-form-pointer-event);
  opacity: var(--authentication-start-form-opacity);
  margin: 0 16px 0 16px;
  padding: 4px 28px 20px 28px;
}

.start-form-buttons-wrapper {
  margin-top: 20px;
  text-align: center;
}

.start-form-buttons-wrapper button {
  margin: 16px;
}

.form-header {
  text-align: center;
  font-size: 1rem;
}

.form-buttons-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 12px;
  justify-content: space-between;
}

.form-buttons-wrapper button:only-child {
  margin-left: auto;
}

.non-fields-error {
  text-align: center;
  margin: 0 0 24px 0;
  font-size: 0.75rem;
  color: #b00020;
}

.text-field {
  margin-bottom: 8px;
}

.mdc-text-field {
  width: 100%;
}
