.button-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  margin: 2px 0 2px 0;
}

button.material-button {
  z-index: 2;
  background-color: transparent;
  font-size: 1rem;
  font-weight: normal;
  height: 44px;
  color: black;
  --mdc-theme-primary: black;
  text-transform: capitalize;
  letter-spacing: 0;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  button.material-button {
    font-size: 0.875rem;
    height: 36px;
  }
}

button.material-button .mdc-button__icon {
  z-index: 0;
  fill: var(--green-eight);
  /*padding-bottom: 2px;*/
}
