/*
**********************************************
***************** Contribute *****************
**********************************************
*/

.contribute-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - var(--gutter) * 2);
  max-width: 560px;
  margin: 64px auto 0 auto;
}

.contribute-container #contribute-header {
  font-weight: bold;
  z-index: 2;
  font-size: 2rem;
  line-height: auto;
  margin: 0 auto 12px auto;
  text-align: center;
  color: var(--green-eight);
}

.contribute-container p {
  z-index: 2;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--green-eight);
}

.contribute-container .icons {
  margin: 16px auto 24px auto;
  z-index: 2;
  text-align: center;
}

.contribute-container .icon {
  fill: var(--green-eight);
  margin: 0 12px 0 12px;
  width: 36px;
}

.contribute-container .icon:hover {
  fill: var(--red);
}
