.docs {
  display: flex;
  --docs-width: calc(100% - var(--side-paddings) * 2);
  --side-bar-width: 12rem;
  --content-width: calc(100% - 12rem - var(--gutter) - 8px);
  flex-direction: row;
  margin-top: 128px;
  width: var(--docs-width);
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  /*outline: 1px solid blue;*/
}

.docs .sandwich-button {
  display: none;
  position: fixed;
  bottom: 32px;
  right: 32px;
}

.docs .content {
  padding-bottom: 6vh;
  padding-right: 8px;
  /*padding-left: 8px;*/
  margin-left: auto;

  width: var(--content-width);
  max-width: 860px;
  /*outline: 1px solid red;*/
}

.docs .sections {
  margin-top: var(--gutter);
  /*margin-right: var(--gutter);*/
  width: var(--side-bar-width);
  /*vertical-align: top;*/
  /*outline: 1px solid green;*/
}

.sections .name {
  font-size: 1rem;
  font-weight: normal;
  color: grey;
  padding: 8px 8px 8px 0;
  margin: 0;
}

.docs .sections .links {
  list-style-type: none;
  text-decoration: none;
  white-space: nowrap;
  margin: 0;
  padding-left: 8px;
}

.links a {
}

.links .link-wrapper {
  padding: 8px;
  margin: 0;
}

.links .link {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

.links .link:hover {
  color: #0f0f73;
}

/***************/
/* code blocks */
code {
  font-family: 'Roboto Mono', Menlo, monospace;
}

/* inline code */
.language-text {
  padding: 0 4px 0 4px;
  background-color: rgb(246, 246, 246);
  color: rgb(40, 42, 46);
}

/* block code */
.gatsby-highlight {
  background-color: rgb(246, 246, 246);
  color: rgb(40, 42, 46);
  padding: 16px;
  line-height: 1.25rem;
  font-size: 0.875rem;
}
.language-shell {
  margin: 0;
}

/**************/
/* Adaptivity */
@media screen and (max-width: 960px) {
  .docs .sandwich-button {
    display: inherit;
  }
  .docs .sections {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - 64px);
    margin: 0;
    padding-left: var(--gutter);
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 128px;
    background-color: white;
    animation-name: appearance;
    animation-duration: 0.2s;
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.4);

    overflow-y: auto;
  }
  @keyframes appearance {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .docs .content {
    width: 100%;
    padding: 0;
  }
}
