.footer-wrapper {
  position: relative;
  padding: 0;
  margin-top: 92px;
}

.footer-wrapper .footer-pattern {
  position: absolute;
  bottom: 0;
  height: 64px;
}

.footer-wrapper .logo {
  z-index: 2;
  margin-left: var(--gutter);
  margin-bottom: 16px;
}
