@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  /*
  ************
  *** Grid ***
  ************
  */

  --gutter: 24px;
  --half-gutter: calc(var(--gutter) / 2);
  --grid-margin: 12px;
  --columns: 12;

  --grid-unit: calc(100vw / var(--columns));
  --col-zero: var(--half-gutter);
  --col-one: calc(var(--grid-unit) + var(--half-gutter));
  --col-two: calc(var(--grid-unit) * 2 + var(--half-gutter));
  --col-three: calc(var(--grid-unit) * 3 + var(--half-gutter));
  --col-four: calc(var(--grid-unit) * 4 + var(--half-gutter));
  --col-five: calc(var(--grid-unit) * 5 + var(--half-gutter));
  --col-six: calc(var(--grid-unit) * 6 + var(--half-gutter));
  --col-seven: calc(var(--grid-unit) * 7 + var(--half-gutter));
  --col-eight: calc(var(--grid-unit) * 8 + var(--half-gutter));
  --col-nine: calc(var(--grid-unit) * 9 + var(--half-gutter));
  --col-ten: calc(var(--grid-unit) * 10 + var(--half-gutter));
  --col-eleven: calc(var(--grid-unit) * 11 + var(--half-gutter));
  --col-twelve: calc(var(--grid-unit) * 12 + var(--half-gutter));

  --side-paddings: calc(var(--grid-margin) + var(--col-three));
  /*
  **************
  *** Colors ***
  **************
  */

  --red: #ff4a64;
  --green: #1db355;
  --blue: #1d79ff;

  --red-two: #ffedeb;
  --green-two: #d0eedb;
  --green-seven: #304538;
  --green-eight: #344239;
  --green-nine: #2b352f;
  --green-ten: #151615;
}

@media screen and (max-width: 800px) and (min-width: 415px) {
  :root {
    --columns: 8;
  }
}

@media screen and (max-width: 414px) {
  :root {
    --columns: 4;
    --gutter: 16px;
  }
}

@media screen and (max-width: 2400px) and (min-width: 1281px) {
  :root {
    --side-paddings: calc(var(--grid-margin) + var(--col-two));
  }
}

@media screen and (max-width: 1280px) and (min-width: 961px) {
  :root {
    --side-paddings: calc(var(--grid-margin) + var(--col-one));
  }
}

@media screen and (max-width: 960px) {
  :root {
    --side-paddings: calc(var(--col-zero) + var(--gutter));
  }
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--green-eight);
}

.terms-of-service,
.privacy-policy {
  width: calc(100% - var(--side-paddings) * 2);
  margin: 148px auto 96px auto;
  background-color: white;
}
