/*
******************************************
***************** Header *****************
******************************************
*/

.header-container {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
}

/*
************
*** Logo ***
************
*/

.header-container .logo {
  position: relative;
  display: inline-block;
  top: calc(var(--grid-margin) + var(--gutter));
  left: var(--col-three);
}

.header-container .logo svg {
  height: 58px;
  width: 48px;
  fill: var(--green-eight);
}

.header-container .logo span {
  display: inline-block;
  vertical-align: top;
  margin: 19px 6px 18px 12px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: var(--green-eight);
}

/* Adaptivity */

@media screen and (max-width: 2400px) and (min-width: 1281px) {
  .header-container .logo {
    left: var(--col-two);
  }
}

@media screen and (max-width: 1280px) and (min-width: 961px) {
  .header-container .logo {
    left: var(--col-one);
  }
}

@media screen and (max-width: 960px) {
  .header-container .logo {
    left: var(--gutter);
  }
}

@media screen and (max-width: 360px) {
  .header-container .logo svg {
    height: 48px;
    width: 40px;
  }

  .header-container .logo span {
    font-size: 15px;
    line-height: 17.5px;
    margin: 15.8px 5px 15px 10px;
  }
}
