.hero-container {
  position: relative;
  height: 100vh;
  max-height: 100vh;
  min-height: 480px;
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
}

/*
***********************
*** Content wrapper ***
***********************
*/

.hero-container .content {
  display: inline-block;
  position: relative;
  z-index: 2;
  top: 30vh;
  left: calc(var(--col-two) - var(--gutter));
}

@media screen and (max-width: 1280px) and (min-width: 961px) {
  .hero-container .content {
    left: calc(var(--col-one) - var(--gutter));
  }
}

@media screen and (max-width: 960px) {
  .hero-container .content {
    top: 24vh;
    left: var(--col-zero);
  }
}

/*
**************
*** Header ***
**************
*/

.content .header {
  margin: 0;
  margin-left: var(--gutter);
  margin-right: var(--gutter);

  /* text */
  font-style: normal;
  font-weight: black;
  font-size: 5rem;
  line-height: 72px;
}

/* Smaller text size for phones */
@media screen and (max-width: 960px) and (min-width: 360px) {
  .content .header {
    font-size: 4rem;
    line-height: 3.7rem;
  }
}

/* Smaller-smaller text-size for small phones */
@media screen and (max-width: 359px) {
  .content .header {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

/*
***************
*** Buttons ***
***************
*/

.button-wrapper {
  margin-left: var(--gutter);
  margin-top: 2px;
  margin-bottom: 2px;
}

.mdc-button {
  text-transform: none;
}

.content .material-button {
  background-color: transparent;
  font-size: 1rem;
  font-weight: normal;
  height: 44px;
  color: black;
  --mdc-theme-primary: black;
  text-transform: capitalize;
  letter-spacing: 0;
  cursor: pointer;
}

.button-wrapper a {
  text-decoration: none;
  color: inherit;
}

.material-button .mdc-button__icon {
  z-index: 0;
  fill: var(--green-two);
  padding-bottom: 2px;
}

#briefly-about {
  margin-top: 36px;
  margin-bottom: 24px;
}

.content .material-button svg {
  fill: var(--green-eight);
}

.content .buttons-wrapper {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
}

.content .simple-button {
  background-color: transparent;
  font-size: 1.25rem;
  border: none;
  margin: 8px var(--gutter) 8px var(--gutter);
  padding-left: 0;
}

.content .simple-button:hover {
  cursor: pointer;
}

/*
********************
*** Video Dialog ***
********************
*/

.content .video-dialog {
}

.content .video-dialog .iframe-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 560px;
  height: 315px;
  margin: auto;
  z-index: 6;
}

.content .video-dialog iframe {
  /* Inherit size from dialog */
  width: inherit;
  height: inherit;
}

.content .video-dialog .background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.6;
  z-index: 5;
  overflow: hidden;
}

/**********
/* Blobs */

#blobs-svg {
  position: absolute;
  bottom: 0vh;
  right: var(--col-two);
  width: 50vw;
  max-height: 100vh;
  min-width: 550px;
  /*outline: 1px solid pink;*/
}

#django-blob {
  fill: #22d163;
  mix-blend-mode: multiply;
}

#django-glare {
  fill: transparent;
  stroke: #3688ff;
  stroke-width: 4px;
}

#django-text {
  z-index: 3;
  fill: white;
  opacity: 1;
  font-size: 0.75rem;
  letter-spacing: 0.07rem;
  font-weight: normal;
  position: absolute;
  padding: auto;
}

/****************/
/* GraphQL blob */

#graphql-blob {
  fill: #ff546c;
  mix-blend-mode: multiply;
}

#graphql-glare {
  fill: transparent;
  stroke: #22d163;
  stroke-width: 4px;
}

#graphql-text {
  fill: #6d111e;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  font-weight: normal;
}

/****************/
/* ReactJS blob */

#react-blob {
  fill: #3688ff;
  mix-blend-mode: multiply;
}

#react-glare {
  fill: transparent;
  stroke: #ff546c;
  stroke-width: 4px;
}

#reactjs-text {
  fill: #6d111e;
  font-size: 0.75rem;
  font-weight: normal;
}

@media screen and (max-width: 1280px) and (min-width: 961px) {
  #blobs-svg {
    right: 0;
    width: 100%;
    /*outline: 1px solid pink;*/
  }
}

@media screen and (max-width: 960px) {
  #blobs-svg {
    left: 0;
    width: 100vw;
    /*outline: 1px solid pink;*/
  }
}
