.hero-container {
  position: relative;
  height: 100vh;
  max-height: 1024px;
  min-height: 480px;
}

@media screen and (max-width: 1366px) and (min-width: 961px) and (orientation: landscape) {
  .hero-container {
    max-height: 880px;
  }
}

@media screen and (max-width: 960px) and (min-width: 426px) {
  .hero-container {
    max-height: 880px;
  }
}

@media screen and (max-width: 425px) {
  .hero-container {
    max-height: 680px;
  }
}

/*
***********************
*** Content wrapper ***
***********************
*/

.hero-container .content {
  display: inline-block;
  position: relative;
  z-index: 4;
  top: 26%;
  left: calc(var(--col-three) - var(--gutter));
}

@media screen and (max-width: 2400px) and (min-width: 1281px) {
  .hero-container .content {
    left: calc(var(--col-two) - var(--gutter));
  }
}

@media screen and (max-width: 1280px) and (min-width: 961px) {
  .hero-container .content {
    left: calc(var(--col-one) - var(--gutter));
  }
}

@media screen and (max-width: 960px) and (min-width: 360px) {
  .hero-container .content {
    top: 24%;
    left: var(--col-zero);
  }
}

@media screen and (max-width: 359px) {
  .hero-container .content {
    top: 20%;
    left: var(--col-zero);
  }
}

/*
**************
*** Header ***
**************
*/

.content .header {
  margin: 0;
  margin-left: var(--gutter);
  margin-right: var(--gutter);

  /* text */
  font-style: normal;
  font-weight: black;
  font-size: 4.8rem;
  line-height: 4.45rem;
}

/* Smaller text size for phones */
@media screen and (max-width: 960px) and (min-width: 426px) {
  .content .header {
    font-size: 4rem;
    line-height: 3.7rem;
  }
}

/* Smaller text size for phones */
@media screen and (max-width: 425px) and (min-width: 360px) {
  .content .header {
    font-size: 3.25rem;
    line-height: 3rem;
  }
}

/* Smaller-smaller text-size for small phones */
@media screen and (max-width: 359px) {
  .content .header {
    font-size: 2.75rem;
    line-height: 2.5rem;
  }
}

/*
***************
*** Buttons ***
***************
*/

.action-buttons-wrapper {
  margin-left: var(--gutter);
  margin-top: 2px;
  margin-bottom: 2px;
}

#briefly-about {
  margin-top: 36px;
  margin-bottom: 24px;
}

.content .buttons-wrapper {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
}

/*
*************
*** Blobs ***
*************
*/

#blobs-svg {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: var(--col-two);
  width: 50%;
  max-width: 100vw;
  max-height: 100%;
  min-width: 720px;
  /*outline: 1px solid pink;*/
}

@media screen and (max-width: 1640px) and (min-width: 1025px) {
  #blobs-svg {
    right: var(--col-one);
  }
}

@media screen and (max-width: 1024px) and (min-width: 961px) {
  #blobs-svg {
    left: 128px;
    width: 100%;
    max-width: 880px;
    min-width: 640px;
    /*outline: 1px solid pink;*/
  }
}

@media screen and (max-width: 960px) and (min-width: 360px) {
  #blobs-svg {
    left: 10vw;
    width: 100%;
    min-width: 500px;
    /*outline: 1px solid pink;*/
  }
}

@media screen and (max-width: 359px) {
  #blobs-svg {
    left: 7vw;
    min-width: 470px;
    /*outline: 1px solid pink;*/
  }
}

/***************/
/* Django blob */

#django-blob {
  fill: #22d163;
  mix-blend-mode: multiply;
}

#django-glare {
  fill: transparent;
  stroke: #3688ff;
  stroke-width: 4px;
}

#django-text {
  z-index: 3;
  fill: white;
  opacity: 1;
  font-size: 0.75rem;
  font-weight: normal;
  position: absolute;
  padding: auto;
}

/****************/
/* GraphQL blob */

#graphql-blob {
  fill: #ff546c;
  mix-blend-mode: multiply;
}

#graphql-glare {
  fill: transparent;
  stroke: #22d163;
  stroke-width: 4px;
}

#graphql-text {
  fill: white;
  font-size: 1rem;
  font-weight: normal;
}

/****************/
/* ReactJS blob */

#react-blob {
  fill: #3688ff;
  mix-blend-mode: multiply;
}

#react-glare {
  fill: transparent;
  stroke: #ff546c;
  stroke-width: 4px;
}

#reactjs-text {
  fill: #6d111e;
  font-size: 0.75rem;
  font-weight: normal;
}
