/*
*********************************************
***************** Tutorials *****************
*********************************************
*/

.tutorials-container {
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  flex-direction: column;
}

.tutorials-container h2 {
  margin: 0 auto 12px auto;
  font-weight: bold;
  font-size: 2rem;
  line-height: auto;
  text-align: center;
}

.tutorials-container .element {
  width: calc(100% - var(--gutter) * 2);
  max-width: 408px;
  height: 64px;
  margin: 16px auto 16px auto;
  background: #ffffff;
  border: 1px solid var(--red);
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 8px;
  transition: box-shadow 0.2s;
}

.tutorials-container .element:hover {
  border: 1px solid var(--red);
  box-shadow: 0px 2px 8px rgba(29, 179, 85, 0.7),
    0px 1px 1px rgba(41, 57, 47, 0.5);
}

.tutorials-container .element span {
  font-weight: 300;
  font-size: 20px;
  line-height: 64px;
  padding-left: 20px;
  display: inline-block;
  /* Green 8 */
  color: #344239;
}

.tutorials-container .element span strong {
  font-weight: bold;
  font-size: 24px;
  padding-right: 18px;
}
