.hero-container {
  height: 70vh;
  max-height: 100vh;
  min-height: 480px;
  background-color: white;
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
}

/*
***********************
*** Content wrapper ***
***********************
*/

.hero-container .content {
  display: inline-block;
  position: relative;
  z-index: 2;
  top: 30vh;
  left: calc(var(--col-two) - var(--gutter));
}

@media screen and (max-width: 1280px) and (min-width: 961px) {
  .hero-container .content {
    left: calc(var(--col-one) - var(--gutter));
  }
}

@media screen and (max-width: 960px) {
  .hero-container .content {
    top: 24vh;
    left: var(--col-zero);
  }
}

.content .header {
  margin: 0;
  margin-left: var(--gutter);
  margin-right: var(--gutter);

  /* text */
  font-style: normal;
  font-weight: black;
  font-size: 5rem;
  line-height: 72px;
}

.mdc-button {
  text-transform: none;
}

.content .material-button {
  background-color: transparent;
  font-size: 1.25rem;
  font-weight: normal;
  color: black;
  --mdc-theme-primary: black;
  text-transform: capitalize;
  letter-spacing: 0;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: var(--gutter);
  border: none;
  cursor: pointer;
}

.material-button .mdc-button__icon {
  z-index: 0;
  fill: var(--green-two);
  padding-bottom: 2px;
}

#briefly-about {
  margin-top: 24px;
  margin-bottom: 24px;
}

.content .material-button svg {
  height: 24px;
  width: 24px;
  fill: var(--red);
}

.content .buttons-wrapper {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
}

.content .simple-button {
  background-color: transparent;
  font-size: 1.25rem;
  border: none;
  margin: 8px var(--gutter) 8px var(--gutter);
  padding-left: 0;
}

.content .simple-button:hover {
  cursor: pointer;
}

/**********
/* Blobs */
#blobs h2 {
  font-size: 0.75rem;
  color: var(--green-eight);
}

/* Django blob */

#django-blob {
  z-index: 1;
  position: absolute;
  right: var(--col-five);
  bottom: 10%;
}

#django-blob svg {
  width: 400px;
  height: 400px;
  fill: #22d163;
}

#django-blob h2 {
  z-index: 2;
  left: 128px;

  position: absolute;
  padding: auto;
  line-height: 400px;
}

/****************/
/* GraphQL blob */

#graphql-blob {
  position: absolute;
  right: var(--col-two);
  bottom: 10%;
}

#graphql-blob svg {
  width: 600px;
  height: 600px;
  fill: #ff546c;
}

#graphql-blob h2 {
  z-index: 2;
  left: 128px;
  bottom: 128px;

  position: absolute;
  padding: auto;
}

/****************/
/* ReactJS blob */

#react-blob {
  position: absolute;
  right: var(--col-three);
  top: 10%;
}

#react-blob svg {
  width: 400px;
  height: 400px;
  fill: #3688ff;
}

#react-blob h2 {
  z-index: 2;
  left: 128px;

  position: absolute;
  padding: auto;
  line-height: 400px;
}
