/*
************************************************
***************** Dependencies *****************
************************************************
*/

.dependencies-wrapper {
  position: relative;
  margin: 0 auto 0 auto;
  outline: 1px solid green;
  height: 1000px;
  background-color: white;
}

.dependencies-wrapper .background {
  width: 100%;
  height: 100%;
  outline: 1px solid red;
  position: absolute;
  left: 0;
}

.dependencies-wrapper #dependencies-header {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: rgba(255, 74, 100, 0.68);

  text-shadow: 0px 1px 24px rgba(255, 74, 100, 0.4),
    0px 0px 8px rgba(151, 82, 92, 0.17);
}

.dependencies-wrapper .content {
  margin: 20px;
}

.dependencies-wrapper .section {
  margin: 0 0 0 12px;
  padding: 0;
}

/* Section */

.section .bullet {
  display: inline-block;
  margin-left: 4px;
  margin-bottom: 1px;
  height: 12px;
  width: 12px;
  border-radius: 6px;
}

.section h3 {
  display: inline-block;
  margin: 12px 0 0 12px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.section#react-section h3 {
  color: var(--blue);
}
.section#django-section h3 {
  color: var(--green);
}

/*************/
/*** Cards ***/
/*************/

.dependencies-wrapper .cardsWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cardsWrapper .card {
  position: relative;
  margin: 12px;
  width: 384px;
  height: 128px;
  background-color: white;
  border-radius: 14px;
  transition: box-shadow 0.2s;
  cursor: pointer;
  /*box-shadow: 0px 1px 3px rgba(56, 71, 94, 0.57);*/

  background: #ffffff;
  /* Redfish Blue */
  box-sizing: border-box;
}

.cardsWrapper .card:hover {
  box-shadow: 0px 1px 4px rgba(56, 71, 94, 0.57),
    0px 4px 12px rgba(255, 74, 100, 0.22);
}

.card .icon {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 64px;
  height: 64px;
}
.card .purpose {
  position: absolute;
  top: 38px;
  left: 112px;
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #555555;
}
.card .name {
  position: absolute;
  left: 112px;
  bottom: 36px;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #555555;
}

/* Adaptivity */

@media screen and (max-width: 900px) {
  .dependencies-wrapper .content {
    margin: 12px;
  }
}

@media screen and (max-width: 767px) {
  .dependencies-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 900px) and (min-width: 768px) {
  .dependencies-wrapper {
    width: 768px;
  }

  .section .bullet {
    height: 10px;
    width: 10px;
  }

  .section h3 {
    font-size: 18px;
    line-height: 21px;
    margin: 4px 0 0 8px;
  }

  .cardsWrapper .card {
    width: 348px;
    height: 112px;
  }

  .card .icon {
    top: 24px;
    left: 24px;
  }

  .card .purpose {
    top: 34px;
    left: 104px;

    font-size: 14px;
    line-height: 16px;
  }

  .card .name {
    bottom: 32px;
    left: 104px;

    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
  }
}

@media screen and (max-width: 767px) and (min-width: 580px) {
  .section .bullet {
    height: 8px;
    width: 8px;
  }

  .section h3 {
    font-size: 16px;
    line-height: 19px;
    margin: 4px 0 0 6px;
  }

  .cardsWrapper .card {
    width: calc(50% - 24px);
    height: 88px;
    border-radius: 8px;
  }

  .card .icon {
    height: 48px;
    top: 20px;
    left: 20px;
    width: 48px;
  }

  .card .purpose {
    top: 24px;
    left: 80px;

    font-size: 12px;
    line-height: 14px;
  }

  .card .name {
    bottom: 26px;
    left: 80px;

    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (max-width: 579px) and (min-width: 500px) {
  .cardsWrapper .card {
    width: calc(50% - 24px);
    height: 68px;
    border-radius: 8px;
  }

  .card .icon {
    height: 36px;
    width: 36px;
    top: 16px;
    left: 16px;
  }

  .card .purpose {
    top: 18px;
    left: 64px;

    font-size: 12px;
    line-height: 14px;
  }

  .card .name {
    bottom: 16px;
    left: 64px;

    font-size: 14px;
    line-height: 16px;
  }
}
