/*
*********************************************
***************** Tutorials *****************
*********************************************
*/

.tutorials-container {
  position: relative;
  background-color: white;
}

.tutorials-container h2 {
  margin: 0 auto 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  color: #444444;
}

.tutorial-container .content {
  margin: 0 auto 0 auto;
}

.tutorials-container .element {
  width: 408px;
  height: 64px;
  margin: 16px auto 16px auto;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  border-radius: 8px;
}
