/*
*********************************************
***************** Tutorials *****************
*********************************************
*/

.tutorials-container {
  position: relative;
  background-color: white;
  margin-top: 64px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tutorials-container #tutorials-header {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: rgba(255, 74, 100, 0.68);

  text-shadow: 0px 1px 24px rgba(255, 74, 100, 0.4),
    0px 0px 8px rgba(151, 82, 92, 0.17);
}

.tutorial-container .content {
  margin: 0 auto 0 auto;
}

.tutorials-container .element {
  width: 408px;
  height: 64px;
  margin: 32px auto 32px auto;
  background: #ffffff;
  border: 1px solid var(--red);
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 8px;
  transition: box-shadow 0.2s;
}

.tutorials-container .element:hover {
  border: 1px solid var(--red);
  box-shadow: 0px 2px 8px rgba(29, 179, 85, 0.7),
    0px 1px 1px rgba(41, 57, 47, 0.5);
}

.tutorials-container .element span {
  font-weight: 300;
  font-size: 20px;
  line-height: 64px;
  padding-left: 20px;
  display: inline-block;
  /* Green 8 */
  color: #344239;
}

.tutorials-container .element span strong {
  font-weight: bold;
  font-size: 24px;
  padding-right: 18px;
}
